:root{
  --color-texto:#FFFFFF;
  --color-fondo:#020403;
  --color-fondo-boton:#414344;

  --z-fixed: 100;
}

:root {
  --header-height: 3.5rem;
  /*========== COLORS ==========*/
  --first-color: #000;
  --second-color: #fff;
  --body-color: #fff;
  --text-color: #000;
  --link-color: #000;
  --button-color: transparent;

  /*========== FONTS ==========*/
  --body-font: 'Source Sans 3', sans-serif;
  --biggest-text: 3rem;
  --big-text: 2.25rem;
  --h1-text: 1.5rem;
  --h2-text: 1.25rem;
  --h3-text: 1rem;
  --normal-text: .938rem;
  --small-text: .813rem;
  --smaller-text: .75rem;

  /*========== FONT WEIGHT ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== SPACING =====*/
  --m-1: .5rem;
  --m-2: 1rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 2.5rem;
  --m-6: 3rem;

  /*========== Z INDEX ==========*/
  --z-fixed: 100;
  --z-menu: 105;
}

/*========== TYPOGRAPHY ==========*/
@media screen and (min-width: 992px) {
  :root {
    --biggest-text: 6rem;
    --big-text: 4rem;
    --h1-text: 2.25rem;
    --h2-text: 1.5rem;
    --h3-text: 1.25rem;
    --normal-text: 1rem;
    --small-text: .875rem;
    --smaller-text: .813rem;
  }
}

/*==============================
  2. BASE
==============================*/
html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-synthesis: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}



body{
  margin: 0px 20% ;
  background-color: var(--color-fondo);
  color:var(--color-texto);
  text-align:center;
}
/* .header-container{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0px 2px 4px rgb(248, 246, 246), 0px 8px 12px rgb(226, 219, 219);
  transition: background .3s;
} */

main{

  margin-top: 75px;
}
/* .menu{
  display: inline-block;
} */

.section-title {
  font-size: var(--h2-text);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--m-2);
}

.section-subtitle {
  font-size: var(--normal-text);
  font-weight: var(--font-medium);
  margin-bottom: var(--m-2);
}

.grid--container {
  max-width: 1024px;
  margin: 0 var(--m-2);
  display: grid;
}

.button {
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 10px 12px;
  border-width: 0;
  border-radius: 10px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: .3s;
}

.button--icon {
  font-size: 1.25rem;
  line-height: inherit;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, .08), 0px 8px 12px rgb(0, 0, 0, .04);
  transition: background .3s;
}

.navbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: var(--h1-text);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: var(--m-1);
}


.habilidades-container{
  display:grid;
  text-align:center;
}

.phone{
  grid-area: phone;
}

.Habilidades{
  grid-area: Habilidades;
}

.web{
  grid-area: web;
  justify-self: center;
}
.web2{
  grid-area: web2;
}
.mobile{
  grid-area: mobile;
  justify-self: center;
}
.mobile2{
  grid-area: mobile2;
}
.material{
  grid-area: material;
  justify-self: center;

}
.material2{
  grid-area: material2;
}

.motion{
  grid-area: motion;
  justify-self: center;
}
.motion2{
  grid-area: motion2;
}
.habilidades-container{
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "Habilidades Habilidades"
  "mobile      motion "
  "web2        mobile2"
  "material    web "
  "material2   motion2 "
  ;
}
.Experiencia-container{
  /* padding: 10px; */
  text-align:center;
}

.Experiencia{
  grid-area: Experiencia;
}

.fecha1{
  grid-area: fecha1;
  align-self: center;
  /* justify-self: center; */
}
.descripcion-a{
  grid-area: descripcion-a;
 }

.fecha2{
  grid-area: fecha2;
  align-self: center;
  /* justify-self: center; */
}

.descripcion-e{
  grid-area:  descripcion-e;
}

.fecha3{
  grid-area: fecha3;
  align-self: center;
  /* justify-self: center; */
}

.descripcion-i{
  grid-area: descripcion-i;

}
.eje{
width: 200px;
height: auto;
}


.Experiencia-container{
  display: grid;
  grid-template-areas: 
  "Experiencia  Experiencia"
  "fecha1       descripcion-a"
  "fecha2       descripcion-e"
  "fecha3       descripcion-i"
    ;
}


.Portafolio-containe{
  padding: 10x;
  text-align:center;
}

.Portafolio{
  grid-area: Portafolio;
  justify-self: center;
  }

.ejemplo1{
  grid-area: ejemplo1;
  justify-self: center;
}

.ejemplo2{
  grid-area: ejemplo2;
  justify-self: center;
}

.ejemplo3{
  grid-area: ejemplo3;
  justify-self: center;
}

.Portafolio-containe{
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "Portafolio    Portafolio    Portafolio "      
  "ejemplo1      ejemplo2      ejemplo3"   
  ;
}

.Contacto-container{
  padding: 10x;
  text-align:center;
}
.Contacto{
  grid-area: Contacto;
  justify-self: center;
}


.phone{
  grid-area: phone;
  justify-self: center;
}
.phone1{
  grid-area: phone1;
  justify-self: center;
}
.phone2{
  grid-area: phone2;
  justify-self: center;
}
.mail{
  grid-area: mail;
  justify-self: center;
}
.mail1{
  grid-area: mail1;
  justify-self: center;
}
.mail2{
  grid-area: mail2;
  justify-self: center;
}
.Contacto-container{
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "Contacto    Contacto"
  "phone       mail" 
  "phone1      mail1"  
  ;
}

.navbar__close {
  position: absolute;
  top: var(--m-2);
  right: var(--m-2);

}
.navbar__link{
  text-decoration:none ;
  font-size: 1.2rem;
  color :#f1f1f1;
}
.navbar__list {
  display: flex;

  /* flex-direction: column;
  padding-top: calc(var(--m-6) + 1.5rem); */
}

.navbar__item {
  font-size: var(--h2-text);
  font-weight: var(--font-medium);
  color: var(--text-color);
  padding: var(--m-2) var(--m-4);
}


 .navbar__toggle{
    display: none;
  }
  @media screen and (max-width: 767px) {
    .navbar__menu {
      position: fixed;
      background-color: rgb(80, 11, 11);
      top: 0;
      left: -100%;
      width: 85vw;
      height: 100vh;
      z-index: var(--z-menu);
      transition: .3s;
    }
    .navbar__link{
      color:#FFFFFF


    }
    .show--menu {
      left: 0;
    }
    .navbar__toggle{
      display: flex;
    }
    .navbar__list {
      display: flex;
      flex-direction: column;
      padding-top: calc(var(--m-6) + 1.5rem);
      list-style:none;  
      margin:0;
      padding:0;
      align-items: center;
      justify-content: center;
    }
    
 
  

  .habilidades-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "Habilidades "
    "mobile  " 
    "mobile2"
    "web  "
    "web2 "
    "material  "
    "material2 "
    "motion"
    "motion2"
    
    ;
  }
  

  .Portafolio-containe{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "Portafolio "      
    "ejemplo1 " 
    "ejemplo2 "
    "ejemplo3 "  
    ;
  }

  .Contacto-container{
    display: grid;
    gap: 10px;
    font-size:8px;
    grid-template-areas: 
    "Contacto    Contacto"
    "phone       mail" 
    "phone1      mail1"  
    ;
  }
}
